#make-order
  Оставьте заявку
  #order-form-block
    = form_for Customer.new, remote: true, html: {class: 'inputs'} do |f|
      .input-wrap
        = f.text_field :name, type: 'text', placeholder: 'Ваше имя'
      .input-wrap
        = f.text_field :phone, type: 'text', placeholder: 'Ваш телефон'
      .input-wrap
        = f.text_field :email, type: 'text', placeholder: 'Ваш e-mail'
      .button-wrap
        = f.submit class: 'submit_button', value: 'Заказать торт'