#make-order
  %h3 Чтобы заказать торт,
  %h3.last оставьте заявку по телефону
  %a.button-wrap{href: 'tel:+79139394223'}
    +7 913 939 42 23
  -##new-cake-form-block
    #order-form-block
      = form_for CakeOrder.new, remote: true, html: {class: 'inputs', multipart: true} do |f|
        = f.fields_for :customer do |customer|
          .input-wrap
            = customer.text_field :name, type: 'text', placeholder: 'Ваше имя'
          .input-wrap
            = customer.text_field :phone, type: 'text', placeholder: 'Ваш телефон'
        #subscription-wrap
          .roundedTwo
            %input#sale_order_customer_delivery#roundedTwo{type: 'checkbox',  name: 'cake_order[customer][delivery]'}
            %label{for: "roundedTwo"}
          %label.delivery
            Хочу получать информацию о новых акциях по email
        .message-wrap{style: 'display: none', id: 'cake-order-error'}
          %p
            Введите ваши данные, пожалуйста
        .button-wrap
          = f.submit class: 'submit_button', value: 'Заказать торт'
  #cake-order-success
    #success-text
      Ваш заказ принят!
      %br
      В ближайшее время мы свяжемся с вами.
      %button.submit-button.close-modal
        Ok