#header
  .nav-container
    %nav
      #header-order
        #header-phone-block
          #phone-icon>
          #header-phone>
            %a{href: 'tel:+79139394223'}
              +7 913 939 42 23
        #header-order-button
          %a.order-cake
            Заказать торт
      %ul
        %li>
          %a{href: '#whatis-block-mark'}
            О нас
        %li>
          %a{href: '#cake-slider-mark'}
            Наши торты
        %li>
          %a{href: '#fillings-block-mark'}
            Начинки
        %li.logo>
          %img{src: '/images/logo.png', alt: 'Cakehouse'}
        %li>
          %a{href: '#feedback-block-mark'}
            Отзывы
        %li>
          %a{href: '#events-block-mark'}
            Акции
        %li>
          %a{href: '#contacts-block'}
            Контакты
  #nav-tail

.sticky
  .nav-container
    %nav
      %ul
        %li>
          %a{href: '#whatis-block-mark'}
            О нас
        %li>
          %a{href: '#cake-slider-mark'}
            Наши торты
        %li>
          %a{href: '#fillings-block-mark'}
            Начинки
        %li>
          %a{href: '#feedback-block-mark'}
            Отзывы
        %li>
          %a{href: '#events-block-mark'}
            Акции
        %li>
          %a{href: '#contacts-block'}
            Контакты
        %li.order-item>
          %a.order-cake
            Заказать торт

#slider
  #slider-order
    #make-order
      Чтобы заказать торт,
      %br звоните сейчас
      %br
      %a.button-wrap{href: 'tel:+79139394223'}
        +7 913 939 42 23

    -##order-form-block
      = form_for CakeOrder.new, remote: true, html: {class: 'inputs', id: 'slider_cake_order'}, remote: true do |f|
        = f.fields_for :customer do |customer|
          .input-wrap
            = customer.text_field :name, type: 'text', placeholder: 'Ваше имя', id: 'slider_order_customer_name'
          .input-wrap
            = customer.text_field :phone, type: 'text', placeholder: 'Ваш телефон', id: 'slider_order_customer_phone'
          .message-wrap{style: 'display: none', id: 'slider-order-error'}
            %p
              Введите ваши данные, пожалуйста
        .button-wrap
          = f.submit class: 'submit_button', value: 'Заказать торт'
    -##slider-order-success
      #success-text
        Ваш заказ принят!
        %br
        В ближайшее время мы свяжемся с вами.
    -##data-is-safe
      Ваши контактные данные в безопасности
      и не будут переданы третьим лицам'

  #main-slider-inner
    .main-slide
      = image_tag('aut_slider.jpg')
    -#.main-slide.not_first_slide
    -#  = image_tag('valentine-slider2.jpg')
    -#.main-slide.not_first_slide
    -#  = image_tag('valentine-slider3.jpg')

#content-container

  %section#whatis-block
    #whatis-block-mark.mark
    #whatis-divider-top.divider
    #whatis-divider-bot.divider
    #whatis
      #whatis-title.title
        Что такое Cakehouse?
      #whatis-1>
        .w-pic
          .img
        .w-title
          Никакой химии
        .w-text
          Мы готовим наши десерты без использования консервантов, улучшителей муки, разрыхлителей и прочих вредных составляющих.
          %br
          Красители Итальянского производства на натуральной основе используются только для оформления тортов.
      #whatis-2>
        .w-pic
          .img
        .w-title
          Уникальный дизайн
        .w-text
          Наши кондитеры воплотят в жизнь любую вашу сладкую фантазию, начиная с начинок и заканчивая самым замысловатым декором.
          %br
          Мы не знаем ограничений ни в форме, ни в палитре цвета!
      #whatis-3>
        .w-pic
          .img
        .w-title
          Доставка тортов
        .w-text
          Мы с удовольствием доставим торт к вашему празднику.
          %br
          С условиями и стомостью доставки можно ознакомиться в соответствующем
          =link_to 'разделе', delivery_path
      #splitter-2.mark
        .title
          Наши торты


  %section#cake-slider
    #cake-slider-mark.mark
    #wrapper
      #cake-slider-inner
        - @cake_images.each_slice(8) do |slice8|
          .one-slide
            - slice8.each_slice(4) do |slice4|
              .pic-line
                - slice4.each do |image|
                  %img{src: image.attachment.url(:small)}
    #splitter-1
      .title
        Начинки

  %section#fillings-block
    #fillings-block-mark.mark
    #fillings-divider-top.divider
    #fillings-divider-bot.divider
    .modal-shadow
    .modal-window
      = render :partial => 'modal_orders_content'
    #fillings
      #t-1.tort-block>
        .tort-content>
          .tort-title
            торт 'CakeHouse'
          .tort-text
            Наш фирменный торт!<br>Тончайшие бисквитные коржи на основе сгущенного молока с нашим фирменным ванильным кремом.
        .tort-order
          %a.order-cake{'data-stuff' => 'Cake-House'}
            Заказать торт
      #t-2.tort-block>
        .tort-content>
          .tort-title
            торт 'Домашний'
          .tort-text
            Шоколадный бисквит<br>со сливочно-сметанным кремом.
        .tort-order
          %a.order-cake{'data-stuff' => 'Домашний'}
            Заказать торт
      #t-3.tort-block>
        .tort-content>
          .tort-title
            торт 'Ванильный'
          .tort-text
            Бисквит со сливочно-сметанным кремом,<br>ромовой пропиткой и натуральной<br>бурбонской ванилью.
        .tort-order
          %a.order-cake{'data-stuff' => 'Ванильный'}
            Заказать торт
      #t-4.tort-block>
        .tort-content>
          .tort-title
            торт 'Медовый'
          .tort-text
            Нежнейшие медовые коржи со сметанным кремом, приготовлен по классическому рецепту с натуральным медом.
        .tort-order
          %a.order-cake{'data-stuff' => 'Медовый'}
            Заказать торт
      #t-5.tort-block>
        .tort-content>
          .tort-title
            торт 'Бельгийский'
          .tort-text
            Шоколадный бисквит  с шоколадным кремом на основе натурального бельгийского шоколада.
        .tort-order
          %a.order-cake{'data-stuff' => 'Бельгийский'}
            Заказать торт
      #t-6.tort-block>
        .tort-content>
          .tort-title
            торт 'Шоколад-малина'
          .tort-text
            Три слоя шоколадного бисквита, пропитанного сиропом, и два вида крем-суфле: шоколад и малина.
        .tort-order
          %a.order-cake{'data-stuff' => 'Шоколад-малина'}
            Заказать торт
      #t-7.tort-block>
        .tort-content>
          .tort-title
            торт 'Шоколад-манго'
          .tort-text
            Три слоя шоколадного бисквита, пропитанного сиропом, и два вида крем-суфле: шоколад и манго.
        .tort-order
          %a.order-cake{'data-stuff' => 'Шоколад-манго'}
            Заказать торт
      #t-8.tort-block>
        .tort-content>
          .tort-title
            торт 'Лайм-клубника'
          .tort-text
            Три слоя ванильного бисквита, пропитанного сиропом, и два вида крем-суфле: лайм и клубника.
        .tort-order
          %a.order-cake{'data-stuff' => 'Лайм-клубника'}
            Заказать торт
      #t-9.tort-block>
        .tort-content>
          .tort-title
            торт 'Тропические фрукты'
          .tort-text
            Ванильный бисквит, пропитанный домашним сиропом и крем-суфле из тропических фруктов.
        .tort-order
          %a.order-cake{'data-stuff' => 'Тропические фрукты'}
            Заказать торт

  %section#feedback-block
    #feedback-block-mark.mark
    #feedback-divider-bot.divider
    #feedback
      .title
        Отзывы наших клиентов
      #feedback-line
      #feedback-slider
        - @feedbacks.each_slice(3) do |slice|
          .feeds-one-slide
            .feeds
              - slice.each do |feedback|
                .feed-container>
                  .img-container
                    %img{src: feedback.photo.url(:round)}
                  .feed-name
                    = feedback.name
                  .feed-desc
                    = feedback.desc
                  .feed-text
                    = raw feedback.text
  - if !@sale.nil?
    %section#events-block.mark
      #events-block-mark.mark
      #events-divider-bot.divider
      #events
        #events-logo>
          .title
            Акции
        #events-pre>
        #events-left>
          .events-img-block
            %img{src: @sale.photo.url(:for_main)}
          .events-title
            = @sale.name
          .events-line
          .events-text
            = raw @sale.description
        #events-right>
          #event-timer
            #event-title
              До конца акции осталось
            #timer
            #timestamps
              #hours.timestamp
                часов
              #mins.timestamp
                минут
              #secs.timestamp
                секунд
          #make-order
            Чтобы заказать торт,
            %br
            оставьте заявку по телефону
            %a.button-wrap{href: 'tel:+79139394223'}
              +7 913 939 42 23



          -##order-form-block
            = form_for SaleOrder.new, remote: true, html: {class: 'inputs'}, remote: true do |f|
              = f.fields_for :customer do |customer|
                .input-wrap
                  = customer.text_field :name, type: 'text', placeholder: 'Ваше имя'
                .input-wrap
                  = customer.text_field :phone, type: 'text', placeholder: 'Ваш телефон'
                .input-wrap
                  .roundedTwo
                    %input#sale-check{type: 'checkbox',  name: 'sale_order[customer][delivery]'}
                    %label{for: "sale-check"}
                  %label.delivery
                    Хочу получать информацию о новых акциях по email
                .message-wrap{style: 'display: none'}
                  %p
                    Введите ваши данные, пожалуйста
              .button-wrap
                = f.submit class: 'submit_button', value: 'Заказать торт'
          #sale-order-success
            #success-text
              Ваш заказ принят!
              %br
              В ближайшее время мы свяжемся с вами.
          #data-is-safe
            Ваши контактные данные в безопасности
            и не будут переданы третьим лицам


  %section#map-block
    #map

  #contacts-block
    #contacts
      .title
        Наши контакты
      .c-content
        #address-link
          %a{href: 'http://2gis.ru/#!/novosibirsk/center/82.948885%2C55.014315/zoom/17/state/index/popup/82.946053%2C55.015548/feature/141373143522278', target: '_blank'}
            Новосибирск, ул.Восход 32
        #address
        #phone-block
          #phone-title>
            телефон:
          #phones>
            %a{href: 'tel:+79139394223'}
              +7 913 939-42-23

        #email
          #email-title>
            email:
          #email-link>
            %a{href: 'mailto:like@cakehouse.me'}
              like@cakehouse.me
        #social-icons
          %a{href: 'http://vk.com/club60073728', target: '_blank'}
            #icon-1.social-icon>
          %a{href: 'http://instagram.com/cakehouseme', target: '_blank'}
            #icon-2.social-icon>

    #footer-block
      #footer
        #copyright
          © 2015 CakeHouse
          <br>
          %a{href: 'http://kerweb.ru', target: '_blank'}
            Студия разработки Kernel Web
        %ul
          - @menu.each do |page|
            %li
              %a{href: page.href}
                = page.title


