#header
  .nav-container
    %nav
      #header-order
        #header-phone-block
          #phone-icon>
          #header-phone>
            %a{href: 'tel:+79139000000'}
              +7 913 900 00 00
        #header-order-button
          %a.order-cake
            Заказать торт
      %ul
        %li>
          %a{href: '#whatis-block-mark'}
            О нас
        %li>
          %a{href: '#cake-slider-mark'}
            Наши торты
        %li>
          %a{href: '#fillings-block-mark'}
            Начинки
        %li.logo>
          %img{src: '/images/logo.png', alt: 'Cakehouse'}
        %li>
          %a{href: '#feedback-block-mark'}
            Отзывы
        %li>
          %a{href: '#events-block-mark'}
            Акции
        %li>
          %a{href: '#contacts-block'}
            Контакты
  #nav-tail

.sticky
  .nav-container
    %nav
      %ul
        %li>
          %a{href: '#whatis-block-mark'}
            О нас
        %li>
          %a{href: '#cake-slider-mark'}
            Наши торты
        %li>
          %a{href: '#fillings-block-mark'}
            Начинки
        %li>
          %a{href: '#feedback-block-mark'}
            Отзывы
        %li>
          %a{href: '#events-block-mark'}
            Акции
        %li>
          %a{href: '#contacts-block'}
            Контакты
        %li.order-item>
          %a.order-cake
            Заказать торт

#slider
  #slider-order
    #make-order
      Оставьте заявку
    #order-form-block
      = form_for CakeOrder.new, remote: true, html: {class: 'inputs', id: 'slider_cake_order'}, remote: true do |f|
        = f.fields_for :customer do |customer|
          .input-wrap
            = customer.text_field :name, type: 'text', placeholder: 'Ваше имя'
          .input-wrap
            = customer.text_field :phone, type: 'text', placeholder: 'Ваш телефон'
          .input-wrap
            = customer.text_field :email, type: 'text', placeholder: 'Ваш e-mail'
          .message-wrap{style: 'display: none', id: 'slider-order-error'}
            %p
              Введите, пожалуйста, корректный email
        .button-wrap
          = f.submit class: 'submit_button', value: 'Заказать торт'
    #slider-order-success
      #success-text
        Ваш заказ принят!
        %br
        В ближайшее время мы свяжемся с вами.
    #data-is-safe
      Ваши контактные данные в безопасности
      и не будут переданы третьим лицам'

  %ul.bxslider
    %li
      %img{src: '/images/main-slider-1.png'}
    %li
      %img{src: '/images/main-slider-2.png'}
    %li
      %img{src: '/images/main-slider-3.png'}

#content-container

  %section#whatis-block
    #whatis-block-mark.mark
    #whatis-divider-top.divider
    #whatis-divider-bot.divider
    #whatis
      #whatis-title.title
        Что такое Cakehouse?
      #whatis-1>
        .w-pic
          .img
        .w-title
          Никакой химии
        .w-text
          Мы готовим наши десерты без использования консервантов, улучшителей муки, разрахлителей и прочих вредных составляющих.
          %br
          Красители Итальянского производства на натуральной основе используются только для оформления тортов.
      #whatis-2>
        .w-pic
          .img
        .w-title
          Уникальный дизайн
        .w-text
          Наши кондитеры воплотят в жизнь воплотить любую вашу сладкую фантазию, начиная с начинок и заканчивая самым замысловатым декором.
          %br
          Мы не знаем ограничений ни в форме, ни в палитре цвета!
      #whatis-3>
        .w-pic
          .img
        .w-title
          Доставка тортов
        .w-text
          Мы с удовольствием доставим торт к вашему празднику.
          %br
          С условиями и стомостью доставки можно ознакомиться в соответствующем
          =link_to 'разделе', delivery_path
      #splitter-2.mark
        .title
          Наши торты


  %section#cake-slider
    #cake-slider-mark.mark
    #wrapper
      #cake-slider-inner
        - GalleryImage.all.each_slice(8) do |slice8|
          .one-slide
            - slice8.each_slice(4) do |slice4|
              .pic-line
                - slice4.each do |image|
                  %img{src: image.attachment.url(:small)}
    #splitter-1
      .title
        Начинки

  %section#fillings-block
    #fillings-block-mark.mark
    #fillings-divider-top.divider
    #fillings-divider-bot.divider
    .modal-shadow
    .modal-window
      = render :partial => 'modal_orders_content'
    #fillings
      #t-1.tort-block>
        .tort-img>
        .tort-content>
          .tort-title
            торт 'Черёмуховый'
          .tort-text
            Бисквит из черемуховой муки с грецким орехом, пропитанный ванильным сиропом  с  ликером Малибу и взбитыми сливками.
        .tort-order
          %a.order-cake{'data-stuff' => 'Черёмуховый'}
            Заказать торт
      #t-2.tort-block>
        .tort-img>
        .tort-content>
          .tort-title
            торт 'Домашний'
          .tort-text
            Сметанный бисквит со сметанным кремом (орехи и фрукты на выбор).
        .tort-order
          %a.order-cake{'data-stuff' => 'Домашний'}
            Заказать торт
      #t-3.tort-block>
        .tort-img>
        .tort-content>
          .tort-title
            торт 'Ванильный'
          .tort-text
            Бисквит с натуральной ванилью , курагой, черносливом и сливочным кремом.
        .tort-order
          %a.order-cake{'data-stuff' => 'Ванильный'}
            Заказать торт
      #t-4.tort-block>
        .tort-img>
        .tort-content>
          .tort-title
            торт 'Медовый'
          .tort-text
            Нежнейшие медовые коржи со сметанным кремом, приготовлен по классическому рецепту с натуральным медом.
        .tort-order
          %a.order-cake{'data-stuff' => 'Медовый'}
            Заказать торт
      #t-5.tort-block>
        .tort-img>
        .tort-content>
          .tort-title
            торт 'Песочный'
          .tort-text
            Один из любимейших тортов, восхитительное сочетание песочных коржей с вишней (клубникой, черносливом, курагой, орехами, смородиной, клюквой) и сливочным кремом.
        .tort-order
          %a.order-cake{'data-stuff' => 'Песочный'}
            Заказать торт
      #t-6.tort-block>
        .tort-img>
        .tort-content>
          .tort-title
            торт 'CakeHouse'
          .tort-text
            Бисквит из черемуховой муки с грецким орехом, пропитанный ванильным сиропом с ликером Малибу и взбитыми сливками.
        .tort-order
          %a.order-cake{'data-stuff' => 'CakeHouse'}
            Заказать торт

  %section#feedback-block
    #feedback-block-mark.mark
    #feedback-divider-bot.divider
    #feedback
      .title
        Отзывы наших клиентов
      #feedback-line
      #feedback-slider
        - Feedback.all.each_slice(3) do |slice|
          .feeds-one-slide
            .feeds
              - slice.each do |feedback|
                .feed-container>
                  .img-container
                    %img{src: feedback.photo.url(:round)}
                  .feed-name
                    = feedback.name
                  .feed-desc
                    = feedback.desc
                  .feed-text
                    = raw feedback.text

  %section#events-block.mark
    - @sale = Sale.last
    #events-block-mark.mark
    #events-divider-bot.divider
    #events
      #events-logo>
        .title
          Акции
      #events-pre>
      #events-left>
        .events-img-block
          %img{src: @sale.photo.url(:for_main)}
        .events-title
          = @sale.name
        .events-line
        .events-text
          = raw @sale.description
      #events-right>
        #event-timer
          #event-title
            До конца акции осталось
          #timer
          #timestamps
            #hours.timestamp
              часов
            #mins.timestamp
              минут
            #secs.timestamp
              секунд
        #make-order
          Оставьте заявку
        #order-form-block
          = form_for SaleOrder.new, remote: true, html: {class: 'inputs'}, remote: true do |f|
            = f.fields_for :customer do |customer|
              .input-wrap
                = customer.text_field :name, type: 'text', placeholder: 'Ваше имя'
              .input-wrap
                = customer.text_field :phone, type: 'text', placeholder: 'Ваш телефон'
              .input-wrap
                = customer.text_field :email, type: 'text', placeholder: 'Ваш e-mail'
              .input-wrap
                .roundedTwo
                  %input#sale-check{type: 'checkbox',  name: 'sale_order[customer][delivery]'}
                  %label{for: "sale-check"}
                %label.delivery
                  Хочу получать информацию о новых акциях по email
              .message-wrap{style: 'display: none'}
                %p
                  Введите, пожалуйста, корректный email
            .button-wrap
              = f.submit class: 'submit_button', value: 'Заказать торт'
        #sale-order-success
          #success-text
            Ваш заказ принят!
            %br
            В ближайшее время мы свяжемся с вами.
        #data-is-safe
          Ваши контактные данные в безопасности
          и не будут переданы третьим лицам


  %section#map-block
    #map

  #contacts-block
    #contacts
      .title
        Наши контакты
      .c-content
        #address-link
          %a{href: 'http://2gis.ru/#!/novosibirsk/center/82.948885%2C55.014315/zoom/17/state/index/popup/82.946053%2C55.015548/feature/141373143522278', target: '_blank'}
            Новосибирск, ул.Восход 32
        #address
          (вход через кафе “Сельская лавка”)
        #phone-block
          #phone-title>
            телефоны:
          #phones>
            %a{href: 'tel:+79139394223'}
              +7 913 939-42-23
            %a{href: 'tel:+73833752056'}
              +7 (383) 375-20-56
        #email
          #email-title>
            email:
          #email-link>
            %a{href: 'mailto:like@cakehouse.me'}
              like@cakehouse.me
        #social-icons
          %a{href: 'http://vk.com/club60073728'}
            #icon-1.social-icon>
          %a{href: 'http://instagram.com/cakehouseme'}
            #icon-2.social-icon>

    #footer-block
      #footer
        #copyright
          © 2014 CakeHouse
          разработано в
          %a{href: 'http://kerweb.ru', target: '_blank'}
            Kernel Web
        %ul
          - @menu.each do |page|
            %li
              %a{href: page.href}
                = page.title


